# See https://dart.dev/guides/libraries/private-files

# Files and directories created by pub
**/.dart_tool/
**/.packages
**/build/

# Coverage
**/coverage/

# Node (VS Code extension)
**/node_modules/

# IDE
**/.idea/
**/melos_*.iml

# Generated optimized test entrypoints
**/optimized_test.dart
